node_modules
.env
*.txt
*.env
./auth/*.env
./common/*.env
./resource/*.env
auth/env
common/env
resource/env
servicen/.env
./servicen./.env

auth/node_modules
common/node_modules
resource/node_modules
./auth/node_modules
./common/node_modules
./resource/node_modules
server-data.txt
./server-data.txt
servicen/node_modules
./servicen/node_modules
